.GTSRB_Final_Training_Images.zip
*.zip
**__pycache__/
datasets/GTRSB/
/home/nithin/PycharmProjects/GTRSB/datasets/GTSRB/

/home/nithin/PycharmProjects/GTRSB/datasets/GTSRB/**
*.ppm

datasets/GTRSB/**

__pycache__/**
*.idea/
*.idea/**

.datasets/GTRSB/**
.datasets/GTRSB/GTSRB_final/**
./home/nithin/PycharmProjects/GTRSB/datasets/GTSRB_final/**

